global
  log /dev/log    local0
  log /dev/log    local1 notice
  maxconn 4096

defaults
  log global
  mode http
  option httplog
  option dontlognull
  timeout connect 5000
  timeout client 50000
  timeout server 50000

listen stats
  bind 0.0.0.0:70
  mode http
  stats enable
  stats hide-version
  stats scope .
  stats realm Haproxy\ Statistics
  stats uri /
  stats auth user:pass

frontend http-in
  stats enable
  stats auth user:pass
  stats uri /haproxy?stats
  # bind *:80  
  bind 0.0.0.0:80
  mode http
  acl front path_beg /


  # ACL para diferenciar frontend y backend
  acl is_frontend path_beg /productos /clientes /pedidos
  acl is_backend_productos path_beg /api/productos
  acl is_backend_clientes path_beg /api/clientes
  acl is_backend_pedidos path_beg /api/pedidos

  # Redirigir según el tipo de solicitud
  use_backend danui if is_frontend
  use_backend dan_productos if is_backend_productos
  use_backend dan_clientes if is_backend_clientes
  use_backend dan_pedidos if is_backend_pedidos
  

  # Por defecto, redirigir al frontend
  default_backend danui

backend danui
    server ui-app dan-ui:3000 check

backend dan_clientes
    server clientes ms-gateway-svc:8080 check

backend dan_productos
    server productos ms-gateway-svc:8080 check

backend dan_pedidos
    server pedidos ms-gateway-svc:8080 check


